/*_______ Blockquotes Blocks _______*/
.wp-block-quote,
.wp-block-pullquote{
	position: relative;
	cite{
		font-style: normal;
		color: $color__grey_blue;
		a{
			color: $color__grey_blue;
		}
	}
	&.is-style-default{
		padding-left: 1rem;
		padding-right: 20%;
		border-left: .5rem solid $color__secondary;
		p{
			font-style: italic;
			font-size: 1.25rem;
			font-weight: 800;
			line-height: 140%;
			margin-bottom: 0;
			// &:before{
			// 	content: '';
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: .5rem;
			// 	height: 100%;
			// 	background-color: $color__secondary;
			// }
		}
	}
	&.is-style-large{
		padding: 1rem 10% 0 2.5rem;
		p{
			font-weight: 700;
			font-style: italic;
			font-size: 2rem;
			line-height: 120%;
			margin-bottom: .25rem;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 2rem;
			height: 90%;
			background-color: $color__tertiary;
			margin: .75rem 0 0;
		}
		&:after{
			content: '“';
			position: absolute;
			top: 0;
			left: 0;
			font-weight: 700;
			font-size: 4.875rem;
			font-style: normal;
			line-height: 4.875rem;
			color: $color__secondary;
		}
	}
}
.wp-block-pullquote{
	padding: 2rem;
}

/*_______ Verse Block _______*/
.wp-block-verse{
	font-size: 1.25rem;
}