# ignore everything in the theme directory, except:
# "sass/", "style.css"
*
!sass/
!style.css/
!2020theme/
!.gitignore

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
config.codekit3