/*_______ Blog feed _______*/
.blog{
	.site-main{
		@extend %inner;
		@extend %inner-padding;
		display: flex;
		flex-flow: row wrap;
		margin-top: 8rem;
		> header{
			flex: 1 1 100%;
		}
	}
}

.archive,
.search-results{
	.hentry{
		max-width: $size__content-moretiny !important;
		padding: 0 2rem;
		margin: 0 auto 4rem !important;
	}
}

.blog,
.archive,
.search-results{
	.hentry{
		position:relative;
		@media(min-width: 480px){
			flex: 0 0 48%;
			max-width: 48%;
			margin: 0 1% 4rem;
		}
		@media(min-width: 769px){
			flex: 0 0 31.333%;
			max-width: 31.333%;
			margin: 0 1% 4rem;
		}
		@extend %transition;
		.entry-header{
			padding: 0;
			background-color: transparent;
			margin-bottom: .5rem;
			.entry-title{
				display:block;
				font-size:1.5rem;
				font-weight: 700;
				line-height: 100%;
				text-align: left;
				margin-bottom: .25rem;
				a{
					color: $color__primary;
				}
				&:hover{
					a{
						text-decoration: underline;
					}
				}
			}
		}
		.entry-image{
			margin-bottom: .5rem;
			max-height: 10rem;
			overflow: hidden;
			img{
				display:block;
				@extend %transition;
			}
		}
		.entry-meta{
			font-size: .75rem;
			color: $color__secondary;
			.byline{
				display: none;
			}
			a {
				color: inherit;
			}
		}
		.entry-content{
			margin-top: 0;
			margin-bottom: 0;
		}
		%headings, p{
			font-size: 1rem;
			font-weight: 400;
			line-height: 140%;
			margin-bottom: .5rem;
		}
		.more-link{
			display: table;
			font-size: .875rem;
			font-weight: 700;
			color: $color__primary;
			margin-top: auto;
			margin-left: auto;
			margin-right: 0;
			margin-bottom: 0;
			&:hover{
				color: $color__secondary;
			}
		}
		.entry-footer{
			display:none;
		}
		&:hover{
			.entry-image{
				img{
					filter: grayscale(0);
				}
			}
		}
	}
}