/*_______ Schedule page _______*/
.schedule-block{
	padding: 0 1rem;
}
.wcpt-schedule{
	border-collapse: collapse;
	margin-left: auto !important;
	margin-right: auto !important;
	thead{
		border: none;
		th{
			font-family: $font__main;
			font-weight: 700;
			font-size: 1.75rem;
			text-align: center;		
			color: $color__tertiary;
			padding: 1rem;
			background-color: $color__primary;
			border-right: .125rem solid white;
			&:last-of-type{
				border-right-color: $color__primary;
			}
			&.wcpt-col-time{
				font-size: 0;
				text-indent: -9999px;
				color:white;
				padding: 0;
				background-color: white;
				border: none;
				margin: 0;
			}
		}
	}
	tbody{
		width: 100%;
		// &:before{
		// 	padding-top: .125rem;
		// }
		tr{
			border: none;
			vertical-align: top;
			td{
				&.wcpt-time{
					display: table-cell;
					min-width: 15%;
					font-weight: 700;
					font-size: 1.25rem;
					text-align: left;
					line-height: 100%;
					color: $color__grey_blue;
					padding: .5rem 1rem;
					background-color: $color__grey_minimus;
					overflow: hidden;
					@media (min-width: 700px){
						display: block;
						min-width: 10%;
						font-size: 1rem;
						text-align: right;
						padding: .5rem;
						border-bottom: .125rem solid white;
					}
					@media (min-width: 1024px){
						font-size: 1.25rem;
					}
					&:before {
						display: block;
						color: $color__grey-morelight;
						font-size: 80%;
						margin-bottom: .25rem;
					}
					&:after {
						content: " UTC";
						font-size: 80%;
					}
				}
				&.wcpt-session-type-session,
				&.wcpt-session-type-custom{
					position: relative;
					width: auto;
					padding: 1.5rem;
					border: .125rem solid $color__grey_verylight;
					@media (min-width: 700px){
						width: 45%;
					}
					&:hover{
						transform: none;
						background-color: white;
						box-shadow: initial;
					}
					.wcpt-session-title{
						font-family: $font__main;
						font-weight: 700;
						font-size: 1.25rem;
						text-decoration: none;
						@media (min-width: 480px){
							font-size: 1.5rem;
						}
						@media (min-width: 769px){
							font-size: 1.75rem;
						}
					}
				}
				&.wcpt-session-type-custom{
					text-align: center;
					.wcpt-session-title{
						justify-content: center;
						margin-bottom: 0;
					}
				}
				&.wcpt-session-type-session{
					height: inherit;
					vertical-align: top;
					&:before{
						display: inline-block;
						font-family: $font__main;
						font-weight: 700;
						font-size: .875rem;
						color: $color__grey;
						padding: 0;
						border: none;
						margin-bottom: .5rem;
					}
					&.wcb-track-track-1.wcb-track-track-2{
						@media (min-width: 700px){
							text-align: center;
						}
					}
					.wcb-session-cell-content{
						@media (min-width: 700px){
							padding-right: 2rem;
						}
						.wcpt-session-title{
							display: block;
							font-size: 1.25rem;
							line-height: 120%;
							text-decoration: underline;
							margin-bottom: 1rem;
							padding: 0;
							@media (min-width: 375px){
								font-size: 1.5rem;
							}
							@media (min-width: 769px){
								font-size: 1.75rem;
							}
						}
						.wcpt-session-speakers{
							width: auto;
							font-weight: 700;
							font-size: 1.25rem;
							color: $color__primary;
							padding: 0;
							margin-top: auto;
							margin-bottom: 0;
							&:before{
								content: 'by ';
								font-weight: 400;
								font-style: normal;
								font-size: 1.125rem;
								color: $color__primary;
							}
							a{
								@extend %camptix-nice-link;
							}
						}
					}
					.wcb-session-favourite-icon{
						position: absolute;
						top: 1rem;
						right: .5rem;
						.dashicons{
							color: $color__grey_verylight;
							text-decoration: none;
							&:before{
								content: "\f109";
								@extend %transition;
							}
						}
					}
				}
				&.wcb-favourite-session{
					background-color: $color__tertiary;
					.wcb-session-favourite-icon{
						.dashicons{
							color: $color__secondary;
							&:before{
								content: "\f537";
							}
						}
					}
					&:hover{
						background-color: $color__tertiary;
					}
				}
				&.wcpt-session-empty {
				}
			}
		}
	}
}

/* Converting schedule into 2 timezones - Sjoerd Blom (@vertizio) */
.wcpt-schedule{
	tbody{
		tr{
			&.wcpt-time-1300{
				.wcpt-time{
					&:before {
						content: "15:00 CEST";
					}
				}
			}
			&.wcpt-time-1315{
				.wcpt-time{
					&:before {
						content: "15:15 CEST";
					}
				}
			}
			&.wcpt-time-1400{
				.wcpt-time{
					&:before {
						content: "16:00 CEST";
					}
				}
			}
			&.wcpt-time-1445{
				.wcpt-time{
					&:before {
						content: "16:45 CEST";
					}
				}
			}

			&.wcpt-time-1455{
				.wcpt-time{
					&:before {
						content: "16:55 CEST";
					}
				}
			}
			&.wcpt-time-1505{
				.wcpt-time{
					&:before {
						content: "17:05 CEST";
					}
				}
			}
			&.wcpt-time-1530{
				.wcpt-time{
					&:before {
						content: "17:30 CEST";
					}
				}
			}
			&.wcpt-time-1615{
				.wcpt-time{
					&:before {
						content: "18:15 CEST";
					}
				}
			}

			&.wcpt-time-1700{
				.wcpt-time{
					&:before {
						content: "19:00 CEST";
					}
				}
			}
			&.wcpt-time-1745{
				.wcpt-time{
					&:before {
						content: "19:45 CEST";
					}
				}
			}
			&.wcpt-time-1800{
				.wcpt-time{
					&:before {
						content: "20:00 CEST";
					}
				}
			}
			&.wcpt-time-1815{
				.wcpt-time{
					&:before {
						content: "20:15 CEST";
					}
				}
			}
		}
	}
}

/* Favorite Sessions tool styles */
.entry-content{
	a.show-email-form {
		bottom: 1rem;
		right: 1rem;
		line-height: 100%;
		color: $color__primary;
		padding: .5rem;
		background: $color__secondary;
		border: .125rem solid $color__secondary;
		border-radius: 0;
		box-shadow: -.25em .25em 0 $color__black_blue;
		z-index: 9999;
		@extend %transition;
		&:hover{
			color: $color__tertiary !important;
			background-color: $color__primary;
			box-shadow: -.125em .125em 0 $color__black_blue;
			border-color: $color__primary;
		}
		.dashicons-star-filled{
			&:before{
				content: "\f537";
				vertical-align: middle;
			}
		}
		.dashicons-email-alt{
			width: auto;
			height: auto;
			font-family: $font__main;
			font-weight: 700;
			font-size: 1.25rem;
			speak: normal;
			&:before{
				content: "Save favourites";
			}
		}
	}
}

.email-form {
	max-width: $size__content-minimun;
	right: .5rem;
	bottom: 4rem;
	font-size: 1rem;
	border-radius: 0;
	@media (min-width: 375px){
		max-width: 350px;
		right: 1rem;
	}
	&.fav-session-email-form-show{
		padding: 0;
		border: .125rem solid $color__primary;
		box-shadow: -0.25em 0.25em 0 $color__primary;
		margin-bottom: 0;
	}
}

.fav-session-share-tab {
	background-color: white;
	border: none;
	@extend %transition;
	.fav-session-tablinks{
		font-size: 1rem;
		padding: .5rem 1rem;
		&:hover{
			background-color: $color__tertiary;
		}
		&.active {
			font-weight: 700;
			background-color: $color__tertiary;
		}
	}
}

.fav-session-share-tabcontent {
	font-weight: 700;
	font-size: 1.25rem;
	padding: 1rem;
	background-color: white;
}

#fav-session-email-form{
	margin: 0;
	#fav-sessions-email-address{
		margin-top: .5rem;
		margin-bottom: 1rem;
		padding: .5rem;
		// &::-webkit-input-placeholder{
		// 	text-indent: -9999px;
		// 	overflow: hidden;
		// 	&:before {
		// 		content:"Your email";
		// 	}
		// }
	}
	input[type="submit"]{
		padding: .5rem 1.5rem;
	}
}

#fav-sessions-link{
	display: block;
	width: 100%;
	font-weight: 700;
	font-size: 1rem;
	line-height: 100%;
	color: $color__secondary;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 1rem auto;
}

#fav-session-print{
	font-size: 1.25rem;
	&:before{
		content: "\f491";
		font-family: 'dashicons';
		vertical-align: middle;
	}
}