/*_______ Schedule page _______*/
.wcpt-schedule{
	border-collapse: collapse;
	margin-left: auto !important;
	margin-right: auto !important;
	thead{
		border: none;
		th{
			font-family: $font__main;
			font-weight: 700;
			font-size: 1.75rem;
			text-align: center;		
			color: $color__tertiary;
			padding: 1rem;
			background-color: $color__primary;
			border-right: .125rem solid white;
			&:last-of-type{
				border-right-color: $color__primary;
			}
			&.wcpt-col-time{
				font-size: 0;
				text-indent: -9999px;
				color:white;
				padding: 0;
				background-color: white;
				border: none;
				margin: 0;
			}
		}
	}
	tbody{
		width: 100%;
		&:before{
			padding-top: .125rem;
		}
		tr{
			border: none;
			vertical-align: top;
			td{
				&.wcpt-time{
					display: table-cell;
					max-height: 5rem;
					font-weight: 700;
					font-size: 1.5rem;
					color: $color__grey_blue;
					padding: 1rem;
					background-color: $color__grey_minimus;
					border: none;
					border-bottom: .125rem solid white;
					overflow: hidden;
					@media (min-width: 700px){
						display: block;
						min-width: 100%;
						text-align: center;
					}
				}
				&.wcpt-session-type-session,
				&.wcpt-session-type-custom{
					position: relative;
					width: auto;
					padding: 1.5rem;
					border: .125rem solid $color__grey_verylight;
					@media (min-width: 700px){
						width: 45%;
					}
					&:hover{
						transform: none;
						background-color: white;
						box-shadow: initial;
					}
					.wcpt-session-title{
						font-family: $font__main;
						font-weight: 700;
						font-size: 1.25rem;
						text-decoration: none;
					}
				}
				&.wcpt-session-type-custom{
					text-align: center;
					.wcpt-session-title{
						justify-content: center;
						margin-bottom: 0;
					}
				}
				&.wcpt-session-type-session{
					height: inherit;
					vertical-align: top;
					&:before{
						display: inline-block;
						font-family: $font__main;
						font-weight: 700;
						font-size: .875rem;
						color: $color__grey;
						border: none;
						margin-bottom: .5rem;
					}
					.wcb-session-cell-content{
						@media (min-width: 700px){
							padding-right: 2rem;
						}
						&:before{
							display: none;
						}
						.wcpt-session-title{
							display: block;
							font-size: 1.5rem;
							line-height: 120%;
							text-decoration: underline;
							margin-bottom: 1rem;
							padding: 0;
							@media (min-width: 700px){
								font-size: 1.75rem;
							}
						}
						.wcpt-session-speakers{
							width: auto;
							font-weight: 700;
							font-size: 1.25rem;
							color: $color__primary;
							padding: 0;
							margin-top: auto;
							margin-bottom: 0;
							&:before{
								content: 'by ';
								font-weight: 400;
								font-style: normal;
								font-size: 1.125rem;
								color: $color__primary;
							}
							a{
								@extend %camptix-nice-link;
							}
						}
					}
					.wcb-session-favourite-icon{
						position: absolute;
						top: 1rem;
						right: .5rem;
						.dashicons{
							color: $color__grey_verylight;
							text-decoration: none;
							&:before{
								content: "\f109";
								@extend %transition;
							}
						}
					}
				}
				&.wcb-favourite-session{
					background-color: $color__tertiary;
					.wcb-session-favourite-icon{
						.dashicons{
							color: $color__secondary;
							&:before{
								content: "\f537";
							}
						}
					}
					&:hover{
						background-color: $color__tertiary;
					}
				}
				&.wcpt-session-empty {
				}
			}
		}
	}
}