/*_______ Main navigation _______*/
.main-navigation {
	display: block;
	width: 100%;
	order: 2;
	margin: 1rem auto;
	.menu{
		display:flex;
		flex-flow: column nowrap;
		justify-content: center;
		list-style: none;
		margin: 0;
		position: fixed;
		top: 0;
		right: -200%;
		width: 100vw;
		height: 100vh;
		padding: 2rem;
		background-color: rgba(27,27,27,.9);
		z-index: 1;
		@extend %transition;
		@media (min-width: 768px){
			position: initial;
			width: initial;
			height: auto;
			flex-flow: row wrap;
			padding:0;
			background-color: transparent;
		}
		.menu-item{
			padding: .5rem;
			margin: 0 0 1rem;
			@media (min-width: 768px){
				flex: 0 0 auto;
				padding: 0;
				margin: 0 1rem;
			}
			a{
				font-family: $font__secondary;
				font-weight: 700;
				font-size: 1.5rem;
				line-height: 100%;
				text-transform: uppercase;
				color: white;
				@media (min-width: 768px){
					font-size: 1.25rem;
					color: initial;
					padding: .25rem;
				}
				&:hover{
					color: white;
					background-color: $color__primary;
				}
			}
			&.current-menu-item{
				> a{
					color: white;
					background-color: $color__primary;
				}
			}
			&.menu-item-has-children{
				position: relative;
				background-color: transparent;
				border-bottom: none;
				margin: 0 0 .5rem;
				.dropdown-toggle{
					display: none;
				}
				@media (min-width: 768px){
					> a:after{
							content: '';
							font-family: 'dashicons';
							display: inline-block;
							vertical-align: middle;
							font-size: .875rem;
							line-height: 110%;
							margin-left: .25rem;
							transition: all .25s ease-in-out;
					}
				}
				&:hover{
					border-color: transparent !important;
					a:after{
						transform: rotate(180deg);
					}
					@media (min-width: 768px){
						.sub-menu{
							max-height: 12rem;
						}
					}
				}
			}
		}
	}

	.sub-menu{
		width: auto;
		margin: 0 auto;
		overflow: hidden;
		height: auto;
		padding: 0;
		margin: .5rem auto;
		z-index: 10;
		@media (min-width: 768px){
			position: absolute;
			left: .5rem;
			width: 14rem;
			padding-left: .25rem;
			overflow: hidden;
			max-height: 0;
			background-color: white;
			border-left: .125rem solid $color__primary;
			transition: all .25s ease-in-out;
		}
		.menu-item{
			display: table;
			line-height: 1.5em;
			padding-left: .5rem;
			border-left: .125rem solid white;
			margin-bottom: .5rem;
			@media (min-width: 768px){
				display: block;
				flex: 0 1 auto;
				text-align: left;
				padding: 0;
				margin: 0 0 .5rem;
				border: none;
				&:hover{
					color: white;
					background-color: $color__primary;
				}
			}
			a{
				font-size: 1.25rem;
				@media (min-width: 768px){
					font-weight: 700;
					font-size: 1rem;
				}
			}
			&.current-menu-item{
				@media (min-width: 768px){
					background-color: $color__grey;
				}
				&:hover{
					background-color: $color__grey_light;
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}
}



/*_______ Mobile navigation _______*/
.menu-toggle{
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: block;
	width: 2.5rem;
	height: 2rem;
	font-size: 0;
	padding:0;
	background-color: transparent !important;
	border:none;
	margin: 0;
	z-index: 2;
	@extend %transition;
	@media (min-width: 768px) {
		display: none;
	}
	&:before{
	    content: "";
		position: absolute;
		top: 0;
		left: .25rem;
		font-family: 'dashicons';
		font-size: 2rem;
		line-height: 2rem;
		color: $color__primary;
	}
	&:focus{
		outline: 0;
	}
}

.main-navigation{
	&.toggled-on{
		.menu{
			right: 0;
		}
		.menu-toggle{
			position: fixed;
			&:before{
				content: "";
				left: -.25rem;
				font-size: 3rem;
				color: white;
			}
		}
	}
}

/*_______ Post navigation _______*/
.posts-navigation,
.post-navigation {
	.site-main & {
		@extend %inner;
		padding: 4rem 2rem;
		overflow: hidden;
	}
	.nav-links{
		a{
			font-weight: 400;
			font-family: $font__secondary;
			line-height: 100%;
			padding-bottom: .125rem;
			border-bottom: .125rem solid;
		}
	}

	.nav-previous {
		float: left;
		width: 50%;
		a:before{
			content: " ";
			font-family: 'dashicons';
			font-weight: 800;
			vertical-align: middle;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
		a:after{
			content: " ";
			font-family: 'dashicons';
			vertical-align: middle;
		}
	}
}

/*_______ Comments navigation _______*/
.comment-navigation{}