/*_______ Tickets table _______*/
.tix_tickets_table:not(.tix-attendee-form){
	@media (max-width: 480px)  {
		/* Force table to not be like tables anymore */
		thead, tbody, th, td, tr {
			display: block;
			max-width: 100%;
			border: none;
		}
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		td{
			/* Behave  like a "row" */
			position: relative;
			font-size: 1.25rem;
			line-height: 120%;
			text-align: left;
			padding-left: 40%;
			padding-bottom: .5rem;
			border: none;
			margin-bottom: .5rem;
			&:before {
				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 20%;
				left: 0;
				width: 40%;
				font-size: .75rem;
				line-height: 100%;
				text-align: right;
				padding-right: 1rem;
				white-space: nowrap;
			}
		}
	}
}

.tix_tickets_table:not(.tix-attendee-form):not(.tix-order-summary){
	text-align: left;
	@media (max-width: 480px)  {
		max-width: 100%;
		display: block;
		width: 99%;
		tr{
			margin-bottom: 4rem;
		}
		td{
			padding-left: 40%;
			&:before {
				width: 35%;
			}	
			&[class^="tix-column-"]{
				font-size: 1rem;
				select{
					max-width: 5rem;
				}
				&:nth-of-type(1):before {
					content: "Description:";
				}
				&:nth-of-type(2):before {
					content: "Price:";
				}
				&:nth-of-type(3):before {
					content: "Remaining:";
				}
				&:nth-of-type(4):before {
					content: "Quantity:";
				}
			}
		}
	}
}

.tix-js input[type="submit"]{
	float: none !important;
}

/*_______ Order Sumary _______*/
.tix-order-summary{
	@media (max-width: 480px)  {
		td{
			&[class^="tix-column-"]{
				font-size: 1rem;
				border-bottom: 1px solid $color__grey_minimus;
				strong{
					font-weight: 400;
				}
				&:nth-of-type(1):before {
					content: "Description:";
				}
				&:nth-of-type(2):before {
					content: "Per Ticket:";
				}
				&:nth-of-type(3):before {
					content: "Quantity:";
				}
				&:nth-of-type(4):before {
					content: "Price:";
				}
			}
		}
		.tix-row-total{
			td{
				font-size: 1.5rem;
				font-weight: 700;
				border: none;
				&:first-child{
					display:none;
				}
				&:nth-of-type(2){
					&:before {
						content: "Total:";
					}
				}
			}
		}
	}
}

/*_______ Registry information _______*/
.tix-attendee-form{
	tr {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		margin-bottom: 2rem;
		@media (min-width: 480px){
			flex-flow: row nowrap;
			margin-bottom: 4rem;
		}
	}
	td.tix-left{
		width: 100%;
		text-align:left;
		line-height: 120%;
		margin-bottom: 1rem;
		@media (min-width: 480px){
			width: 40%;
			text-align: right;
		}
	}
	td.tix-right{
		width: 100%;
		@media (min-width: 480px){
			width: 58%;
			margin-left: 2rem;
		}
		input,textarea, select{
			width:100% !important;
		}
	}
	.tix-required-star {
		color: $color__secondary;
		font-weight: 700;
	}
	.tix-row-question-3851 .tix-left:after {
		content: "(include @)";
		display: block;
		font-size: 70%;
		color: $color__grey;
	}	
}

#tix{
	.tix-submit{
		width: 100%;
		padding: 2rem 1rem;
		border-top: .25rem dashed;
		#tix-preferred-payment-option {
			display: none;
		}
		.tix-payment-method {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: flex-end;
			.tix-payment-tab {
				border: none;
				border-radius: 0;
				cursor: pointer;
				padding: .5rem;
				margin: 0;
				text-align: center;
				line-height: 100%;
				font-size: 1.125rem;
				font-weight: 400;
				font-family: "Source Code Pro", sans-serif;
				flex: 1 1 auto;
				&:hover {
					color: white;
					background-color: $color__grey_morelight;
					outline: none;
					border: 0;
				}
				&.tix-tab-selected {
					font-weight: 700;
					color: white;
					padding: .5rem;
					background-color: $color__primary;
					border: none;
				}
			}
		}
		.tix-alternate-payment-option {
			float: none;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 0;
			label {
				color: $color__primary;
				font-size: 1.25rem;
				padding: 0 ;
			}
		}
		.tix-payment-method-container {
			float: none;
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 0;
			margin: 2rem auto;
			&.tix-hidden {
				display: none;
			}
		}
		.tix-checkout-button {
			display: block;
			float: none;
			text-transform: none;
			letter-spacing: 0;
			padding-top: 1rem;
			padding-bottom: 1rem;
			border: .25rem solid $color__primary;
			border-radius: 0;
			margin-top: 4rem;
		}	
	}
}