/*_______ Site header _______*/
.site-header{
	position: fixed;
	top: 0;
	width:100%;
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 5%;
	background-color: $color__primary;
	z-index: 10;
	@media(min-width: 769px){
		margin: 0 auto;
		padding: 0 10%;
	}
}

.custom-header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex: 0 0 auto;
	padding: .5rem 2.5rem;
	background-color: $color__tertiary;
	@media(min-width: 769px){
		width: 300px;
		height: 100%;
		padding: .5rem 0;
	}
	.custom-header-media{
		display: none;
	}
	.site-branding{
		.custom-logo-link{
			display: block;
			margin: 0;
			padding: 0;
		}
		.custom-logo{
			width: 88px;
			height: auto;
			@media(min-width: 769px){
				width: 111px;
			}
		}
	}
}