/*_______ Main navigation _______*/
.main-navigation {
	display: block;
	width: 100%;
	margin: 0 auto;
	.menu{
		display:flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		list-style: none;
		margin: 0 10% 0 0;
		position: fixed;
		top: 5rem;
		right: -200%;
		width: 100vw;
		height: 100vh;
		padding: 5vh 10vw 10vh;
		background-color: $color__primary;
		margin:0;
		overflow-y: auto;
		z-index: 10;
		@extend %transition;
		@media (min-width: 480px){
			width: 60vw;
		}
		@media (min-width: 769px){
			position: initial;
			width: auto;
			height: auto;
			flex-flow: row wrap;
			justify-content: flex-end;
			align-items: center;
			padding: 1rem 0;
			background-color: transparent;
			overflow-y: visible;
		}
		.menu-item{
			margin: 0 0 1.5rem;
			@extend %transition;
			@media (min-width: 769px){
				flex: 0 0 auto;
				margin: 0 .5rem;
				&:last-of-type{
					margin-right:0;
				}
			}
			a{
				display: block;
				font-weight: 700;
				font-size: 1.5rem;
				line-height: 100%;
				color: $color__tertiary;
				@extend %transition;
				@media (min-width: 769px){
					font-size: 1rem;
				}
				@media (min-width: 1025px){
					font-size: 1.25rem;
					padding: .25rem;
				}
				&:hover{
					color: $color__secondary;
				}
			}
			&.current-menu-item{
				> a{
					color: $color__grey_morelight;
					@media (min-width: 769px){
						color: $color__tertiary;
						border-bottom: .125rem solid;
					}
					&:hover{
						color: $color__grey_verylight;
					}
				}
			}
			&.emphasised{
				text-align: center;
				text-decoration: none;
				box-shadow: -.25em .25rem 0 $color__black_blue;
				@media (min-width: 769px){
					width: auto;
					margin: 0 0 0 1rem;
				}
				a{
					color: $color__primary;
					padding: .75rem 1rem;
					background-color: $color__secondary;
					&:focus{
						outline: .125rem solid $color__tertiary;
					}
				}
				&.current-menu-item{
					box-shadow: none;
					a{
						color: $color__primary;
						background-color: $color__tertiary;
						box-shadow: -0.125em 0.125rem 0 $color__black-blue;
						border:none;
					}
				}
			}
			&.menu-item-has-children{
				position: relative;
				background-color: transparent;
				border-bottom: none;
				@media (min-width: 769px){
					> a{
						&:after{
							content: '';
							font-family: 'dashicons';
							display: inline-block;
							vertical-align: middle;
							font-size: .875rem;
							line-height: 110%;
							margin-left: .25rem;
							transition: all .25s ease-in-out;
						}
					}
				}
				&.focus,
				&:focus-within,
				&:hover,
				> a:focus,
				> a:hover					{
					border-color: transparent !important;
					@media (min-width: 769px){
						a:after{
							transform: rotate(180deg);
						}
					}
					@media (min-width: 769px){
						.sub-menu{
							max-height: 30rem;
						}
					}
				}
				.dropdown-toggle{
					display: none;
				}
				&.current-menu-parent{
					@media (min-width: 769px){
						color: $color__tertiary;
						border-bottom: .125rem solid;
					}
				}
			}
		}
	}

/*_______ Submenus _______*/
	.sub-menu{
		width: auto;
		margin: 0 auto;
		overflow: hidden;
		height: auto;
		padding: 0 0 0 .5rem;
		border-left: .125rem solid $color__tertiary;
		margin: 1rem 0 0;
		z-index: 10;
		@media (min-width: 769px){
			position: absolute;
			top: 2.5rem;
			left: 0;
			width: 16rem;
			max-height: 0;
			padding: 0 1rem;
			border: none;
			background-color: $color__primary;
			overflow: hidden;
			transition: all .25s ease-in-out;
		}
		.menu-item{
			line-height: 120%;
			margin: 0 0 1rem;
			&:last-of-type{
				margin-bottom: 0;
			}
			@media (min-width: 769px){
				flex: 0 0 auto;
				line-height: 140%;
				text-align: left;
				padding: 0;
				margin: 0 0 .5rem;
				&:last-of-type{
					margin-bottom: 1rem;
				}
			}
			a{
				font-size: 1.25rem;
				@media (min-width: 769px){
					font-size: 1.25rem;
					color: $color__tertiary;
				}
			}
			&.current-menu-item{
				a{
					color: $color__grey_morelight;
					border: none;
				}
				&:hover{
					
				}
			}
			
		}
	}

	a {
		display: block;
		text-decoration: none;
	}
}

#header-widget-1{
	margin-left: 1.5rem;
	.widget{
		margin: 0;
		@media (min-width: 769px){
		}
		p{
			margin: 0;
		}
	}
}

.more-info{
	display: block;
	font-size: 0;
	font-weight: 700;
	line-height: 100%;
	text-align: center;
	text-decoration: none;
	padding: 0;
	background-color: $color__tertiary;
	@extend %transition;
	@media (min-width: 769px){
		font-size: 1rem;
		width: 5rem;
		padding: .5rem;
	}
	&:after{
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		content: "\f346";
		font-family: 'dashicons';
		font-size: 1rem;
		@extend %transition;
		@media (min-width: 769px){
			display: inline-block;
			vertical-align: middle;
			margin-left: .25rem;
			width: auto;
			height: auto;
		}
	}
	&:focus{
		outline: .125rem solid $color__tertiary;
	}
	&:hover{
		color: $color__primary !important;
		background-color: $color__secondary;
	}
}

/*_______ Mobile navigation _______*/
.menu-toggle{
	position: absolute;
	top: 1.5rem;
	right: 4rem;
	display: block;
	width: 2.5rem;
	height: 2rem;
	font-weight: 400;
	font-size: 0;
	padding:0;
	background-color: transparent !important;
	border:none;
	margin: 0;
	z-index: 20;
	@extend %transition;
	@media(min-width: 350px){
		right: 5rem;
	}
	@media (min-width: 769px) {
		display: none;
	}
	&:before{
	    content: "\f333";
		font-family: 'dashicons';
		font-size: 3rem;
		line-height: 2rem;
		text-align: center;
		color: $color__secondary;
	}
	&:focus{
		outline: 0;
	}
}

.main-navigation{
	&.toggled-on{
		.menu{
			right: 0;
		}
		.menu-toggle{
			&:before{
				content: "\f335";
				font-family: 'dashicons';
				font-weight: normal;
				color: $color__tertiary;
			}
		}
	}
}

/*_______ Post navigation _______*/
.posts-navigation,
.post-navigation {
	flex: 1 1 100%;
	@extend %inner;
	padding: 4rem 2rem;
	overflow: hidden;
	.nav-links{
		a{
			font-weight: 400;
			font-family: $font__secondary;
			line-height: 100%;
			padding-bottom: .125rem;
			border-bottom: .125rem solid;
		}
	}

	.nav-previous {
		float: left;
		width: 50%;
		a:before{
			content: " ";
			font-family: 'dashicons';
			font-weight: 800;
			vertical-align: middle;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
		a:after{
			content: " ";
			font-family: 'dashicons';
			vertical-align: middle;
		}
	}
}

.custom-posts-pagination{
	@extend %inner;
	@extend %inner-padding;
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	.page-numbers{
		width: 3rem;
		height:3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.25rem;
		font-weight: 800;
		line-height: 100%;
		text-align: center;
		color: $color__tertiary;
		padding: .5rem;
		background-color: $color__secondary;
		margin: 0 .5rem;
		@extend %transition;
		&.current{
			color: $color__tertiary;
			background-color: $color__grey_minimus;
		}
		&:not(.current):hover{
			color: $color__tertiary;
			background-color: $color__primary;
		}
	}
}

/*_______ Comments navigation _______*/
.comment-navigation{}