/*_______ Footer _______*/
.site-footer{
	width: 100%;
	padding: 0 0 2.5rem;
}

#footer-widgets{
	padding: 2.5rem 0;
	background-color: $color__primary;
	margin-bottom: 2.5rem;
}
.footer-widgets-block{
	@extend %inner;
	padding: 0 2rem;
	@media (min-width: 768px){
		display: flex;
		justify-content: space-between;
	}
	p{
		color: $color__tertiary;
	}
	input,
	select,
	textarea {
		height: 2.5rem;
		background-color: transparent;
		border-color: $color__tertiary;
		&::placeholder{
			color: $color__tertiary;
		}
	}
	button,
	input[type="submit"] {
		height: 2.5rem;
		padding: 0;
		background-color: $color__tertiary;
		border-color: $color__tertiary;
		&:hover{
			color: $color__primary;
			background-color: $color__secondary;
		}
	}
	.widget-title{
		font-size: 1.5rem;
		color: $color__tertiary;
		margin-top: 0;
		margin-bottom: .5rem;
	}
	.widget_nav_menu{
		.menu{
			list-style: none;
			padding-left: .5rem;
			margin-top: 0;
			margin-left: 0;
			.menu-item{
				font-size: 1rem;
				line-height: 100%;
				margin-bottom: 1rem;
				&.more-info{
					display: none;
				}
			}
			a{
				color: $color__tertiary;
				border-bottom: .05rem solid;
			}
			.sub-menu{
				padding-left: 0;
				margin-top: 1rem;
				margin-left: 0;
				margin-bottom: 1rem;
			}
		}
	}
}

#footer-widget-1{
	margin-bottom: 2rem;
}


#footer-widget-2{
	padding-top: 2rem;
	border-top: 1px solid $color__tertiary;
	.widget{
		margin-bottom: 4rem;
		@media (min-width: 768px){
			margin-bottom: 0;
		}
	}
}

#text-4,
.jetpack_subscription_widget{
	flex: 0 1 35%;
	#subscribe-text{
		p{
			font-size: 1rem;
		}
	}
	#subscribe-email{
		margin: 0;
		input{
			width: 60%;
			height: 2.5rem;
			float: left;
		}
		label, br{
			display: none;
		}
	}
	#subscribe-submit{
		margin-bottom: 0;
		br{
			display: none;
		}
		button{
			width: 40%;
			height: 2.5rem;
			margin: 0;
		}
	}
}
.widget_search{
	margin-top: auto !important;
	margin-bottom: 0 !important;
	label{
		float: left;
		width: 60%;
		height: 2.5rem;
	}
	.search-submit{
		width: 40%;
		height: 2.5rem;
	}
}

#nav_menu-6{
	flex: 0 1 30%;
	.menu-social-container{
		.menu{
			display: flex;
			.menu-item{
				font-size: .875rem;
				text-align: center;
				line-height: 100%;
				margin: 0 1rem;
				a{
					display: block;
					&:before{
						display: block;
						font-size: 1.5rem;
						line-height: 100%;
						margin-bottom: .5rem;
					}
				}
				&.facebook{
					a:before{
						content: "\f305";
						font-family: 'dashicons';
					}
				}
				&.twitter{
					a:before{
						content: "\f301";
						font-family: 'dashicons';
					}
				}
				&.instagram{
					a:before{
						content: "\f12d";
						font-family: 'dashicons';
					}
				}
			}
			a{
				border-bottom: none;
				&:before{
					content: '';
					display: block;
					width: 1.5rem;
					height: 1.5rem;
					margin: 0 auto .5rem;
				}
			}
		}
	}
}

.search-form{
	label, input{
		display: inline-block;
		margin: 0;
	}
}


.site-info{
	text-align: center;
	p{
		font-size: .875rem;
		color: $color__primary;
	}
	a{
		display: block;
		font-size: .875rem;
		color: $color__primary;
		padding: 0;
		@media (min-width: 768px){
			display: inline-block;
			vertical-align: middle;
		}
	}
	span{
		display: none;
	}
}

.site-info-generator{
	display: inline-block;
	vertical-align: middle;
	&:after{
		display: block;
		content: "\f324";
		font-family: 'dashicons';
		font-size: 2rem;
		margin: .5rem auto;
		@media (min-width: 768px){
			display: inline-block;
			vertical-align: middle;
			margin: 0 1rem;
		}
	}
}
.site-info-network{
	display: inline-block;
	vertical-align: middle;
}

.privacy-policy-link{
	display: none !important;
}